@font-face {
 font-family: LemonMilk;
 src: url("fonts/LemonMilk.eot") /* EOT file for IE */
}
@font-face {
 font-family: LemonMilk;
 src: url("../fonts/LemonMilk.ttf") /* TTF file for CSS3 browsers */
}